.pv-landing-myapps {
  padding-top: 100px;
  padding-bottom: 0px;
  background-color: #fbfbfb;
}

.pv-landing-myapps .pv-landing-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.pv-landing-myapps-title {
  text-align: center;
  font-size: 36px;
  font-family: "sofia-pro";
  font-weight: 300;
  color: rgb(59, 70, 75);
  margin-bottom: 0;
}

.pv-landing-myapps-apps {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 55px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
}

.pv-landing-myapps-app {
  display: block;
  flex: 1 1 250px;
  margin: 15px;
  padding: 25px;
}

.pv-landing-myapps-app:hover {
  text-decoration: none;
}

.pv-landing-myapps-app span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 18px;
  font-family: "sofia-pro";
  font-weight: 500;
  color: rgb(71, 143, 204);
  margin: 0px;
}

.pv-landing-myapps-app span > img, .pv-landing-myapps-app span > div {
  width: 62px;
  height: 62px;
  border: 1px solid #f1f1f1;
  border-radius: 30px;
  margin-right: 20px;
  overflow: hidden;
}

.pv-landing-myapps-app > p {
  margin-top: 20px;
  font-size: 16px;
  font-family: "sofia-pro";
  color: rgba(59, 70, 75, 0.702);
}
